client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/.next/*
client/dist-ssr
client/*.local

client/.vscode/*
!.vscode/extensions.json
client/.idea
client/.DS_Store
client/*.suo
client/*.ntvs*
client/*.njsproj
client/*.sln
client/*.sw?
client/.env
client/.pnpm-store/*
client/README-THUMBNAILS.md
client/public/thumbnails
client/public/images

server/.env
server/cvrise.db
server/logs/*.log
__pycache__/
